@import "../global";
@import "global";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "../global";

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    color:#383838;
}
div#app {
    min-height: 96vh;
}

.navbar-brand img {
    height: 50px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #48984e;
    border-color: #48984e;
}
.page-link {
    color: #48984e;
}
.btn-primary{
    color: #fff;
    background-color: #48984e;
    border-color: #48984e;
}
.btn-primary:hover, .btn-outline-primary:hover {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #282828;
    background-color: #d5d5d5;
    border-color: #46ac4c;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 50%);
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 50%) !important;
}
.btn-outline-primary {
    color: #3a7a42;
    border-color: #3a7a42;
}
a {
    color: #3a7a42;
}
a:hover {
    text-decoration: underline;
    color: #3a7a42;
}
.btn-link {
    color: #3a7a42;
}
.btn-link:hover {
    color: #3a7a42;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 25%);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #3a7a42;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 25%);
}

.senzabordo {
    border:none;
}
.bordotondo {
    border-radius: 0.5rem;
}
/** COLORI ***/
.bg-red{ 
    background-color:#48984e;
    color: white;
}
.bg-verdolino {
    background-color:#e0ebc4;
    color:#383838;
}
.bg-white {
    background-color:#fff;
    color:#383838;
}
.bg-lightgreen {
    background-color:#91cd79;
}
.bg-green {
    background-color:#3a7a42;
    color: white;
}
.bg-orange {
    background-color: #f7ab39;
    color: white;
}
.green {
    color:#3a7a42;
}
.mid-green {
    color: #63a958;
}
.lightgreen{
    color:#91cd79;
}
a.lightgreen:hover {
    color: white;
}
.grigetto {
    color:#383838; 
}
.orange {
    color: #f7ab39;
}
/** FINE COLORI ***/

/** TITOLI ***/
.titolo-h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 3.5rem;
}
.h5, h5 {
    font-size: 1.025rem;
}
/** FINE TITOLI ***/

/** BOTTONI ***/
.btn-rotondo {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-passo{
    text-transform: uppercase;
}
/** FINE BOTTONI ***/

img.img-copertina {
    max-height: 90vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
.div-sfondo-home {
    height: 80vh;
    min-height:700px;
    background-image: url(/storage/tenant/demo/profilo/copertina.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.new-app-banner-bg-shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
.new-app-main-banner-area {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 180px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.ordina-main-banner-area {
    padding-top: 100px;
    padding-bottom: 100px;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.div-copertina{
    position:relative;
}

.autentica {
    position:fixed;
    right:0px;
    bottom:100px;
}

li.list-group-item.list-ordini {
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
}
.titolo-1 {
    font-size:2.5rem;
}
.sottotitolo-1 {
    font-size:2rem;
}
.card-home {
    background:transparent;
    border:none;
    text-align:center;
}
.card-home .card-img-top {
    max-width: 170px;
    /* text-align: center; */
    margin: 0 auto;
}
.bg-lightgrey {
    background-color: #f3f3f3;
    color: #4e4e4e;
}
.card-flip-container {
    background-color: transparent;
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flipcard {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.card-flip {
    position: relative;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 6px 0px #dbd9d9;
}
.front {
    backface-visibility: hidden;
    background: transparent;
    color: #333;
    text-align:center;   
}
.back {
    backface-visibility: hidden;
    background: #919191;
    color: white;
    text-align:center;   
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 6px 0px #dbd9d9;
}

.nav-product button.nav-link {
      margin: 0px;
      margin: 0 auto;
      border: none;
      padding: 7px 40px;
      border-radius: 10px;
      border: 1px solid #63a958;
}
.nav-product button.nav-link.active {
    background-color: #63a958;
    border:none;
    color: white;
}
.nav-product button.nav-link:hover {
    background-color: #63a958;
    color: white;
}
.nav-product button.nav-link.active:hover {
    background-color: #91cd79;
}

@media only screen and (min-width: 769px) {
    .clip-me {  
        clip-path: polygon(54% 0, 100% 0, 100% 74%, 64% 100%, 37% 83%, 22% 33%, 15% 0);
    } 
    .div-present {
        position: absolute;
        left: 0%;
        top: 25%;
        text-align: left;
        z-index: 99;
        width: 100%;
    }
    .logo-landlord {
        max-height:120px;
    }
}
@media only screen and (max-width: 768px) {
    .clip-me {  
        clip-path: polygon(54% 0, 100% 0, 100% 100%,  80% 95%, 31% 88%,0% 68%, 0% 0);
        max-height: 320px !important;
    } 
    .div-present {
        position: relative;
        text-align: left;
        z-index: 99;
    }
    .logo-landlord {
        max-height:120px;
    }
}
