@import "../global";

// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
/* BACKEND */
.c-sidebar {
    color: #fff;
    background: #48984e;
}
.c-header.c-header-dark {
    background: #48984e;
    border-bottom: 1px solid #48984e;
}
.green {
    color: #0e6634;
}
.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: #fff;
    background: #3a7a42;
}
.generi-list a {
    font-weight: bold;
    text-decoration: underline;
}
.bg-dark {
    background-color: #3a7a42 !important;
}
.table.table-striped tr td {
    vertical-align: middle;
}
.c-sidebar-brand img {
    width: 65%;
    padding: 14px 0px;
}

.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: #fff;
    background: rgb(255, 255, 255, 0.17);
}
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: rgb(32 112 67);
}
.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: rgb(255, 255, 255, 0.76);
}
/* FINE BACKEND */

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #48984e;
    border-color: #48984e;
}
.page-link {
    color: #48984e;
}
.btn-primary{
    color: #fff;
    background-color: #48984e;
    border-color: #48984e;
}
.btn-primary:hover, .btn-outline-primary:hover {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 50%);
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 50%) !important;
}
.btn-outline-primary {
    color: #3a7a42;
    border-color: #3a7a42;
}
a {
    color: #3a7a42;
}
a:hover {
    text-decoration: underline;
    color: #3a7a42;
}
.btn-link {
    color: #3a7a42;
}
.btn-link:hover {
    color: #3a7a42;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 25%);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #3a7a42;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 25%);
}
.bg-red {
    background-color:#48984e;
    color: white;
}


.card-flip-container {
    background-color: transparent;
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flipcard {
    transform: rotateY(180deg);
}
.card-flip {
    position: relative;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 6px 0px #dbd9d9;
}
.front {
    backface-visibility: hidden;
    background: transparent;
    color: #333;
    text-align:center;   
}
.back {
    backface-visibility: hidden;
    background: #919191;
    color: white;
    text-align:center;   
    transform: rotateY(180deg);
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 6px 0px #dbd9d9;
}

.nav-product button.nav-link {
      margin: 0px;
      margin: 0 auto;
      border: none;
      padding: 7px 40px;
      border-radius: 10px;
      border: 1px solid #63a958;
}
.nav-product button.nav-link.active {
    background-color: #63a958;
    border:none;
    color: white;
}
.nav-product button.nav-link:hover {
    background-color: #63a958;
    color: white;
}
.nav-product button.nav-link.active:hover {
    background-color: #91cd79;
}
li.list-group-item.list-ordini {
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
    background-color:#ffffff;
}
/** COLORI ***/
.bg-red{ 
    background-color:#48984e;
    color: white;
}
.bg-verdolino {
    background-color:#e0ebc4;
    color:#383838;
}
.bg-white {
    background-color:#fff;
    color:#383838;
}
.bg-lightgreen {
    background-color:#91cd79;
}
.bg-green {
    background-color:#3a7a42;
    color: white;
}
.bg-orange {
    background-color: #f7ab39;
    color: white;
}
.green {
    color:#3a7a42;
}
.mid-green {
    color: #63a958;
}
.lightgreen{
    color:#91cd79;
}
a.lightgreen:hover {
    color: white;
}
.grigetto {
    color:#383838; 
}
.orange {
    color: #f7ab39;
}
/** FINE COLORI ***/

/** TITOLI ***/
.titolo-h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 3.5rem;
}
/** FINE TITOLI ***/

/** BOTTONI ***/
.btn-rotondo {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-passo{
    text-transform: uppercase;
}

/** FINE BOTTONI ***/

.senzabordo {
    border:none;
}
.bordotondo {
    border-radius: 0.5rem;
}
