// Coreui
@import '~@coreui/coreui/scss/coreui';
@import '~@coreui/icons/css/free.min.css';

@import "../global";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
/* BACKEND */
.c-sidebar {
    color: #fff;
    background: #48984e;
}
.c-header.c-header-dark {
    background: #48984e;
    border-bottom: 1px solid #48984e;
}

.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: #fff;
    background: #3a7a42;
}
.generi-list a {
    font-weight: bold;
    text-decoration: underline;
}

.table.table-striped tr td {
    vertical-align: middle;
}
.c-sidebar-brand img {
    width: 65%;
    padding: 14px 0px;
}

.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: #fff;
    background: rgb(255, 255, 255, 0.17);
}
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: rgb(32 112 67);
}
.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: rgb(255, 255, 255, 0.76);
}
/* FINE BACKEND */










