// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


/** COLORI ***/
.bg-red{ 
    background-color:#48984e;
    color: white;
}
.bg-verdolino {
    background-color:#e0ebc4;
    color:#383838;
}
.card.bg-verdolino {
    border: none;
    box-shadow: #d3d3d3 1px 1px 4px 1px;
}
.bg-white {
    background-color:#fff;
    color:#383838;
}
.bg-lightgreen {
    background-color:#91cd79;
}
.bg-green {
    background-color:#3a7a42;
    color: white;
}
.bg-orange {
    background-color: #f7ab39;
    color: white;
}
.bg-lightgrey {
    background-color: #f3f3f3;
    color: #4e4e4e;
}
.bg-dark {
    background-color: #3a7a42 !important;
}
.dark-green {
    color: #0e6634;
}
.green {
    color:#3a7a42;
}
.mid-green {
    color: #63a958;
}
.lightgreen{
    color:#91cd79;
}
a.lightgreen:hover {
    color: white;
}
.grigetto {
    color:#383838; 
}
.orange {
    color: #f7ab39;
}

/** FINE COLORI ***/


/** FLIP CARD **/ 
.card-flip-container {
    background-color: transparent;
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flipcard {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.card-flip {
    position: relative;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    border-radius: 25px;
    border: none;
    background-color:transparent;
    box-shadow: 2px 2px 6px 0px #dbd9d9;
}
.front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: white !important;
    border-radius: 25px;
    border: none;
    color: #333;
    text-align:center;   
    /*padding: 0rem !important;*/
}
/*
.front img {
    border-radius: 25px 25px 0px 0px;
}
.front h5, .front .prezzo {
    margin: 10px;
}*/
.back {
    backface-visibility: hidden;
    background: #919191;
    color: white;
    text-align:center;   
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 6px 0px #dbd9d9;
}
/** FINE FLIP **/

/** BOTTONI **/ 
.btn-rotondo {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-passo{
    text-transform: uppercase;
}
.btn-orange {
    background-color:#f7ab39;
    color:white;
}
.btn-orange:hover, .btn-orange:active {
    background-color:#bb7f26;
    color:white;
}


.btn-primary {
    color: #fff;
    background-color: #48984e;
    border-color: #48984e;
}
.btn-primary:hover, .btn-outline-primary:hover {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #282828;
    background-color: #d5d5d5;
    border-color: #46ac4c;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 50%);
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #3a7a42;
    border-color: #3a7a42;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 50%) !important;
}
.btn-outline-primary {
    color: #3a7a42;
    border-color: #3a7a42;
}

.btn-link {
    color: #3a7a42;
}
.btn-link:hover {
    color: #3a7a42;
}
.navbar a.nav-link {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
}
a.nav-link:hover {
    text-decoration: underline;
}
/** FINE BOTTONI **/

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #48984e;
    border-color: #48984e;
}
.page-link {
    color: #48984e;
}
a {
    color: #3a7a42;
}
a:hover {
    text-decoration: underline;
    color: #3a7a42;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 25%);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #3a7a42;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(198 11 13 / 25%);
}
.senzabordo {
    border:none;
}
.bordotondo {
    border-radius: 0.5rem;
}
.bordotondomolto {
    border-radius: .75rem !important;
}


.nav-product button.nav-link {
    margin: 0px;
    margin: 0 auto;
    border: none;
    padding: 7px 40px;
    border-radius: 10px;
    border: 1px solid #63a958;
}
.nav-product button.nav-link.active, .nav-product button.nav-link.focus {
  background-color: #63a958;
  border:none;
  color: white;
}
.nav-product button.nav-link:hover {
  background-color: #63a958;
  color: white;
}
.nav-product button.nav-link.active:hover {
  background-color: #91cd79;
}


li.list-group-item.list-ordini {
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
    background-color:#ffffff;
}

/** TITOLI ***/
.titolo-h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 3.5rem;
}
.titolo-h2 {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 2.8rem;
}
.h5, h5 {
    font-size: 1.025rem;
}

.card-ribbon{
    max-width: 25rem;
    border-radius: 0.25rem;
    background: white;
    box-shadow: 4px 4px 15px rgba(#000, 0.15);
    position : relative;
    color: #434343;
  }
  
  .card-ribbon .card__container{
    padding : 2rem;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1rem;
    position: relative;
  }
  
  .card-ribbon::before{
    position: absolute;
    top:2rem;
    right:-0.5rem;
    content: '';
    background: #283593;
    height: 28px;
    width: 28px;
    transform : rotate(45deg);
  }
  
  .card-ribbon::after{
    position: absolute;
    content: attr(data-label);
    top: 11px;
    right: -14px;
    padding: 0.5rem;
    width: 10rem;
    background: #3949ab;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  }
  .card-ribbon.orange::after{
    background: #f7ab39;
  }
  .card-ribbon.orange::before{
    background: #f7ab39;
  }
  .card-ribbon.green::after{
    background: #3a7a42;
  }
  .card-ribbon.green::before{
    background: #0e6634;
  }
/**FINE TITOLI ***/

/** FOOTER **/ 
footer p {
    margin-bottom: .2rem;
    /*font-size: .75rem;*/
}
footer a {
    color:#f7ab39;
}
footer a:hover {
    color:rgb(204, 136, 8);
}
/** FINE FOOTER **/ 

@media only screen and (min-width: 769px) {
    .trans-md-50-y {
        transform: translate(0%, -50%);
    }
    .header-copertina  {
        margin-top: 200px !important;
    }
}
@media only screen and (max-width: 768px) {
    .trans-md-50-y {
        padding:25px 0px;
    }
}